/* carousel animation is a little jank, might fix it at some point. Most buttons and links do not do anything;
 this was done for layout recreation, not functionailty :) Hope you like it, I learned a whole lot in the process! */
 .html, body {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 input {
	 outline: none;
	 background: none;
	 border: none;
	 padding-left: 10px;
}
 a {
	 color: inherit;
}
 .navbar {
	 width: 100vw;
	 background-color: #4b367c;
	 height: 50px;
	 position: fixed;
	 z-index: 100;
	 color: #fff;
}
 .navbar__container {
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	 margin: 0 1rem;
	 width: 98%;
	 white-space: nowrap;
	 display: flex;
	 align-items: center;
}
 .navbar__logo {
	 margin-right: 1.4rem;
	 font-size: 1.7rem;
}
 .navbar__item {
	 margin-right: 1.4rem;
	 font-size: 0.9rem;
	 color: #d2c9e8;
}
 .navbar__item:hover {
	 color: #fff;
	 text-decoration: underline;
	 cursor: pointer;
}
 .navbar__icon {
	 margin-right: 1rem;
	 padding: 0.5rem;
	 position: relative;
}
 .navbar__icon .counter {
	 padding: 2px 4px;
	 position: absolute;
	 background-color: red;
	 border-radius: 2px;
	 top: 0;
	 right: 0;
	 font-size: 0.6rem;
	 font-weight: 600;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .navbar__icon:hover {
	 background-color: rgba(255, 255, 255, 0.05);
	 cursor: pointer;
	 border-radius: 5px;
}
 .navbar__icon--crown {
	 margin-left: auto;
}
 .navbar__search {
	 margin-right: 1.5rem;
	 display: flex;
	 flex: 0 1 22rem;
}
 .navbar__searchbar {
	 height: 1.7rem;
	 border-radius: 4px;
	 background-color: #fff;
	 padding-left: 2rem;
	 width: 100%;
	 font-size: 0.9rem;
}
 .navbar__searchbar::placeholder {
	 color: #d2c9e8;
}
 .navbar__search-icon {
	 position: absolute;
	 color: grey;
	 top: 50%;
	 transform: translateY(-50%);
	 margin-left: 10px;
}
 .navbar__bits {
	 flex: 0 0 7rem;
	 margin-right: 0.3rem;
	 border: 1px solid #fff;
	 border-radius: 5px;
	 position: relative;
	 padding: 7px 0px;
	 font-size: 0.95rem;
}
 .navbar__bits-text {
	 font-size: 0.75rem;
}
 .navbar__bits:hover {
	 cursor: pointer;
	 background-color: rgba(255, 255, 255, 0.05);
}
 .navbar__profile {
	 flex: 0 0 14rem;
	 display: flex;
	 padding-top: 0.5rem;
	 padding-bottom: 0.5rem;
	 padding-right: 0.5rem;
	 align-items: center;
	 position: relative;
}
 .navbar__profile:hover {
	 background-color: rgba(255, 255, 255, 0.05);
	 cursor: pointer;
}
 .navbar__profile-status {
	 width: 7px;
	 height: 7px;
	 position: absolute;
	 background-color: orange;
	 left: 2.5rem;
	 bottom: 5px;
}
 .navbar__profile-text {
	 margin-left: 0.5rem;
	 flex: 0 1 50%;
	 display: flex;
	 flex-wrap: wrap;
	 font-size: 0.8rem;
}
 .navbar__profile-text--user {
	 flex: 0 1 100%;
}
 .navbar__profile-text--description {
	 margin-top: 2px;
	 font-size: 0.6rem;
}
 .navbar__profile-image {
	 height: 2rem;
	 border-radius: 5px;
	 margin-left: 10px;
}
 .navbar__profile i {
	 margin-left: auto;
}
 .dropdown {
	 display: flex;
	 flex: 1 0 auto;
	 justify-content: space-around;
	 align-items: center;
}
 .sidebar {
	 height: calc(100vh - 50px - 3.5rem);
	 width: 15rem;
	 overflow: scroll;
	 background-color: #19171c;
	 color: #d2c9e8;
	 position: fixed;
	 top: 50px;
	 padding-bottom: 3.5rem;
	 flex: 0 0 auto;
}
 .sidebar__title {
	 font-size: 0.9rem;
	 margin-left: 10px;
	 margin-top: 1.1rem;
	 margin-bottom: 0.8rem;
}
 .sidebar__title-icon {
	 display: none;
}
 .sidebar__user {
	 display: flex;
	 flex: 0 0 auto;
	 padding: 5px 8px;
	 margin: 0 auto;
	 height: 30px;
	 position: relative;
}
 .sidebar__user:hover {
	 background-color: rgba(255, 255, 255, 0.05);
	 cursor: pointer;
}
 .sidebar__user:hover .sidebar__user-text {
	 color: #fff;
}
 .sidebar__user-image {
	 height: 100%;
	 display: inline-block;
}
 .sidebar__user-image img {
	 height: 100%;
	 border-radius: 3px;
}
 .sidebar__user-text {
	 flex: 0 1 100%;
	 display: flex;
	 flex-wrap: wrap;
	 color: #898395;
	 margin-left: 10px;
}
 .sidebar__user-username {
	 flex: 0 0 100%;
	 font-size: 0.9rem;
	 margin-bottom: 2px;
	 color: #fff;
}
 .sidebar__user-playing {
	 font-size: 0.75rem;
	 white-space: nowrap;
	 flex: 0 0 80%;
	 overflow: hidden;
}
 .sidebar__user-viewers {
	 font-size: 0.75rem;
	 margin-left: auto;
	 display: flex;
	 align-items: center;
}
 .sidebar__hr {
	 width: 95%;
	 border: 0.5px solid rgba(255, 255, 255, 0.05);
}
 .sidebar__search {
	 position: fixed;
	 bottom: 0;
	 left: 0;
	 width: 15rem;
	 height: 3rem;
	 border-top: 1px solid rgba(255, 255, 255, 0.05);
	 background-color: #19171c;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .sidebar__search-bar {
	 width: 0;
	 flex: 0 0 92%;
	 height: 28px;
	 background-color: #0d0c0e;
	 border: 1px solid #402e6a;
	 border-radius: 3px;
	 font-size: 0.8rem;
	 display: flex;
	 align-items: center;
}
 .sidebar__search-icon {
	 color: #898395;
	 margin-left: 7px;
	 font-size: 1rem;
}
 .sidebar__search-input {
	 color: #898395;
	 margin: 0;
	 font-size: 0.75rem;
}
 .record-button {
	 width: 7px;
	 height: 7px;
	 border-radius: 50%;
	 background-color: red;
	 margin-right: 4px;
}
 .prime-banner {
	 position: fixed;
	 width: calc(100vw - 15rem);
	 margin-left: 15rem;
	 height: 13px;
	 top: 50px;
	 z-index: 100;
	 display: flex;
	 align-items: center;
	 padding: 1rem 0;
	 font-size: 0.75rem;
	 background-color: #0e9bd8;
}
 .prime-banner i {
	 color: #fff;
	 margin-right: 8px;
}
 .prime-banner__prime {
	 font-weight: 700;
	 white-space: nowrap;
	 flex: 0 1 20%;
	 margin-right: 10px;
	 text-align: right;
}
 .prime-banner__text {
	 flex: 0 1 60%;
}
 .prime-banner__trial {
	 font-weight: 700;
	 white-space: nowrap;
	 flex: 0 1 20%;
}
 .main-content {
	 position: relative;
	 width: calc(100vw - 15rem);
	 margin-left: 15rem;
	 padding-top: 92px;
	 padding-bottom: 3rem;
	 display: flex;
	 justify-content: center;
	 align-content: flex-start;
	 flex-wrap: wrap;
}
 .carousel {
	 margin-top: -0.4rem;
	 flex: 0 1 100%;
	 display: flex;
	 justify-content: center;
	 height: 5rem;
	 position: relative;
	 align-items: center;
	 justify-content: space-evenly;
}
 .carousel__chevron {
	 /* font-size: 1.6rem; */
	 color: #898395;
	 padding: 1rem 1.4rem;
	 border-radius: 50%;
}
 .carousel__chevron:hover {
	 background-color: #d7d5dc;
	 cursor: pointer;
}
 .carousel__content {
	 flex: 0 0 80%;
	 height: 100%;
	 position: relative;
}
 .carousel__overlay {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 90%;
	 height: 90%;
	 border-radius: 5px;
	 color: #fff;
	 z-index: 2;
	 display: flex;
	 flex-wrap: wrap;
	 align-content: space-between;
	 cursor: pointer;
}
 .carousel__overlay i:hover {
	 cursor: pointer;
	 color: #a991d4;
}
 .carousel__overlay-top {
	 flex: 0 1 100%;
	 display: flex;
}
 .carousel__overlay-picture {
	 flex: 0 0 16%;
}
 .carousel__overlay-picture img {
	 height: 70px;
}
 .carousel__overlay-text {
	 flex: 0 0 70%;
	 /* font-size: 0.9rem; */
}
 .carousel__overlay-name {
	 font-weight: 700;
	 font-size: 1.2rem;
}
 .carousel__overlay-title {
	 margin-top: 2px;
}
 .carousel__overlay-views {
	 margin-top: 2px;
}
 .carousel__overlay-live {
	 flex: 0 0 15%;
	 font-size: 16px;
	 text-align: right;
}
 .carousel__overlay-live .record-button {
	 height: 11px;
	 width: 11px;
	 display: inline-block;
	 margin-right: 0;
}
 .carousel__overlay-live .u-inline-text {
	 display: inline-block;
}
 .carousel__overlay-bottom {
	 flex: 0 1 100%;
	 display: flex;
}
 .carousel__overlay-icon {
	 /* font-size: 1.2rem; */
}
 .carousel__overlay-icon--volume {
	 margin-left: 1rem;
}
 .carousel__overlay-icon--settings {
	 margin-left: auto;
	 margin-right: 1rem;
}
 .carousel__overlay-icon--fullscreen {
	 transform: rotate(-45deg);
}
 .carousel__overlay .big-play {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 color: #fff;
	 /* font-size: 1rem; */
}
 .carousel__overlay .big-play:hover {
	 cursor: pointer;
	 color: #a991d4;
}
 .carousel__video {
	 width: 550px;
	 height: 310px;
	 position: absolute;
	 transition: all 0.5s;
}
/* .carousel__video .inactive {
	 position: absolute;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 background-color: rgba(0, 0, 0, 0.6);
	 border-radius: 5px;
	 transition: all 0.2s ease-out;
} */
 .carousel__video .inactive + img {
	 transition: all 0.2s ease-out;
}
 .carousel__video .inactive:hover {
	 cursor: pointer;
	 transform: scale(1.02);
	 background-color: rgba(0, 0, 0, 0.4);
}
 .carousel__video .inactive:hover + img {
	 transform: scale(1.02);
}
 .carousel__video-background {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0, 0, 0, 1);
	 z-index: 3;
}
 .carousel__video iframe {
	 z-index: 100;
}
 .carousel__video.main {
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 z-index: 3;
}
 .carousel__video.main .inactive + img {
	 transition: none;
}
 .carousel__video.main .inactive:hover {
	 cursor: initial;
	 transform: scale(1);
	 background-color: rgba(0, 0, 0, 0.6);
}
 .carousel__video.main .inactive:hover + img {
	 transform: scale(1);
}
 .carousel__video.hidden {
	 display: none;
}
 .carousel__video.secondary {
	 width: 467.5px;
	 height: 263.5px;
	 z-index: 2;
}
 .carousel__video.secondary-left {
	 top: 50%;
	 left: 20%;
	 transform: translate(-20%, -50%);
}
 .carousel__video.secondary-right {
	 top: 50%;
	 left: 80%;
	 transform: translate(-80%, -50%);
}
 .carousel__video.tertiary {
	 width: 385px;
	 height: 217px;
	 z-index: 1;
}
 .carousel__video.tertiary-left {
	 top: 50%;
	 left: 0;
	 transform: translate(0, -50%);
}
 .carousel__video.tertiary-right {
	 top: 50%;
	 left: 100%;
	 transform: translate(-100%, -50%);
}
 .carousel__video-picture {
	 width: 100%;
	 height: 100%;
	 border-radius: 5px;
}
 .video-row {
	 flex: 0 1 95%;
	 display: flex;
	 justify-content: space-between;
	 align-items: flex-start;
	 flex-wrap: wrap;
}
 .video-row__title {
	 flex: 0 1 100%;
	 margin-bottom: 10px;
}
 .video-row__item {
	 position: relative;
	 flex: 0 1 32%;
}
 .recommended-video {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 display: flex;
	 flex-wrap: wrap;
}
 .recommended-video__thumbnail {
	 flex: 0 1 100%;
	 position: relative;
}
 .recommended-video__thumbnail:hover {
	 cursor: pointer;
}
 .recommended-video__thumbnail img {
	 width: 100%;
	 height: 100%;
	 border-radius: 4px;
}
 .recommended-video__overlay {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 z-index: 1;
	 color: #fff;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.9));
}
 .recommended-video__overlay-live {
	 background-color: rgba(0, 0, 0, 0.6);
	 border-radius: 2px;
	 position: absolute;
	 top: 6%;
	 left: 3%;
	 width: 50px;
	 height: 17px;
	 font-size: 12px;
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
}
 .recommended-video__overlay-live .record-button {
	 width: 8px;
	 height: 8px;
}
 .recommended-video__overlay-viewers {
	 position: absolute;
	 bottom: 5%;
	 left: 3%;
	 font-size: 12px;
}
 .recommended-video__info {
	 font-size: 12px;
	 flex: 0 1 100%;
	 display: flex;
	 margin-top: 5px;
}
 .recommended-video__info-content {
	 flex: 0 1 80%;
}
 .recommended-video__channel-pic {
	 flex: 0 1 15%;
	 position: relative;
}
 .recommended-video__channel-pic img {
	 height: 40px;
	 border-radius: 2px;
}
 .recommended-video__title {
	 font-size: 14px;
}
 .recommended-video__channel {
	 margin-top: 5px;
	 color: #322f37;
}
 .recommended-video__game {
	 margin-top: 5px;
	 color: #322f37;
}
 .recommended-video__tags {
	 margin-top: 5px;
	 display: flex;
}
 .recommended-video__menu {
	 flex: 0 1 5%;
}
 .recommended-video__menu i {
	 margin-top: 6px;
}
 .tag {
	 margin-right: 5px;
	 font-size: 11px;
	 border: 1px solid #dad8de;
	 padding: 3px;
	 border-radius: 3px;
}
 .tag:hover {
	 cursor: pointer;
	 background-color: #f1eef1;
	 color: red;
	 color: #6441a4;
}
 .category-row {
	 flex: 0 1 95%;
	 display: flex;
	 margin-top: 25px;
	 flex-wrap: wrap;
}
 .category-row__title {
	 flex: 0 1 100%;
}
 .category-row__content {
	 flex: 0 1 100%;
	 display: flex;
	 justify-content: space-between;
	 margin-top: 10px;
	 position: relative;
}
 .boxart {
	 color: inherit;
	 flex: 0 1 16%;
	 position: relative;
	 display: flex;
	 flex-wrap: wrap;
}
 .boxart__image {
	 flex: 0 1 100%;
	 position: relative;
}
 .boxart__image:hover {
	 cursor: pointer;
	 color: #4b367c;
}
 .boxart__image:hover + .boxart__content .boxart__title {
	 color: #4b367c;
}
 .boxart__image img {
	 border-radius: 5px;
	 width: 100%;
}
 .boxart__content {
	 flex: 0 1 100%;
	 display: flex;
	 margin-top: 5px;
}
 .boxart__text {
	 flex: 0 1 95%;
	 font-size: 12px;
}
 .boxart__title {
	 font-size: 14px;
}
 .boxart__title:hover {
	 cursor: pointer;
	 color: #4b367c;
}
 .boxart__viewers {
	 margin-top: 5px;
	 color: #898395;
}
 .boxart__tags {
	 margin-top: 5px;
	 display: flex;
}
 .boxart__menu {
	 flex: 0 1 5%;
	 font-size: 12px;
}
 .boxart__menu i {
	 margin-top: 5px;
}
 .u-bold {
	 font-weight: 700;
}
 .u-purple-link {
	 text-decoration: none;
	 color: #4b367c;
	 font-weight: 700;
}
 .u-purple-link:hover {
	 text-decoration: underline;
}
 .u-purple-hover:hover {
	 text-decoration: underline;
	 color: #4b367c;
	 cursor: pointer;
}
 .messages {
	 position: fixed;
	 bottom: 0;
	 right: 10px;
	 width: 40px;
	 height: 35px;
	 border: 1px solid #dad8de;
	 border-radius: 3px;
	 background-color: #faf9fa;
	 z-index: 2000;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .messages:hover {
	 cursor: pointer;
	 background-color: #f1eef1;
}
 .messages i {
	 color: #6045a0;
}
 @media only screen and (max-width: 1150px) {
	 .navbar__searchbar {
		 display: none;
	}
	 .navbar__search-icon {
		 color: #fff;
		 margin-left: auto;
		 position: relative;
		 top: 0;
		 transform: none;
		 padding: 0.5rem;
	}
	 .navbar__search-icon:hover {
		 background-color: rgba(255, 255, 255, 0.05);
		 cursor: pointer;
		 border-radius: 5px;
	}
	 .text__desktop {
		 display: none;
	}
	 .main-content, .prime-banner {
		 width: calc(100vw - 3rem);
		 margin-left: 3rem;
	}
	 .video-row__item {
		 flex: 0 1 49%;
	}
	 .video-row__item:last-of-type {
		 display: none;
	}
	 .boxart {
		 flex: 0 1 24%;
	}
	 .boxart:last-of-type {
		 display: none;
	}
	 .boxart:nth-last-of-type(2) {
		 display: none;
	}
	 .sidebar {
		 width: 3rem;
		 padding-bottom: 0;
		 height: calc(100vh - 50px);
	}
	 .sidebar__title {
		 margin-left: 0;
		 margin-top: 1.2rem;
		 display: flex;
		 justify-content: center;
	}
	 .sidebar__title-text {
		 display: none;
	}
	 .sidebar__title-icon {
		 display: inline-block;
		 color: #898395;
		 font-size: 1rem;
	}
	 .sidebar__user {
		 display: flex;
		 justify-content: center;
	}
	 .sidebar__user-text {
		 display: none;
	}
	 .sidebar__search {
		 display: none;
	}
}
 @media only screen and (max-width: 870px) {
	 .text__prime {
		 display: none;
	}
}
 @media only screen and (max-width: 810px) {
	 .navbar__profile {
		 flex: none;
	}
	 .navbar__profile-text--user {
		 display: none;
	}
	 .navbar__profile-text--description {
		 display: none;
	}
	 .navbar__profile i {
		 margin: auto;
	}
}
 